# 1. Import Libraries

In [1]:
import pandas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import numpy as np
import os

# 2. Load Data
## 2.1. Load the IMD data

In [2]:
imd_data = pd.read_csv('London/imd_area_london.csv')

imd_data.head()

   Postcode             Authority
0  TW12 1AA  Richmond upon Thames
1  TW12 1AB  Richmond upon Thames
2  TW12 1AD  Richmond upon Thames
3  TW12 1AE  Richmond upon Thames
4  TW12 1AF  Richmond upon Thames

# 2.2. Get a list of all the items in "Authority" and add to a list

In [3]:
authority_list = imd_data['Authority'].unique().tolist()

print(authority_list)

['Richmond upon Thames', 'Hounslow', 'Barking and Dagenham', 'Redbridge', 'Havering', 'Wandsworth', 'Lambeth', 'Croydon', 'Sutton', 'Merton', 'Ealing', 'Hillingdon', 'Harrow', 'Bexley', 'Greenwich', 'Bromley', 'Kensington and Chelsea', 'Westminster', 'Brent', 'Hammersmith and Fulham', 'Islington', 'Barnet', 'Southwark', 'Lewisham', 'Newham', 'Waltham Forest', 'Tower Hamlets', 'City of London', 'Hackney', 'Camden', 'Kingston upon Thames', 'Enfield', 'Haringey']

# 3. Process EPC Data

In [4]:
# List to store the individual DataFrames
df_list = []

dtype_specification = {
    'LMK_KEY': str,  # Replace 'column_name' with the actual name of your column
    'UPRN': str,
}

# Loop through all the folders in the "EPCs" directory
for folder in os.listdir('EPCs'):
    
    # Check if the folder contains any authority code from the authority_list
    if any(authority in folder for authority in authority_list):
        
        # Build the path to the certificates.csv file
        csv_path = os.path.join('EPCs', folder, 'certificates.csv')
        
        # Check if the file exists before reading to avoid errors
        if os.path.exists(csv_path):
            
            # Append the current CSV data to the list
            df_list.append(pd.read_csv(csv_path, low_memory=False, dtype=dtype_specification))

# Concatenate all DataFrames in the list at once
epc_data = pd.concat(df_list, ignore_index=True)

## 3.1. Count the number of rows in the EPC data

In [5]:
epc_data.shape

(3311951, 92)

## 3.2. Add an IMD_FLAG column to the EPC data

In [6]:
# If the POSTCODE in the EPC data is in the IMD data, then add a column "IMD_FLAG" with value "Y" else "N"
epc_data['IMD_FLAG'] = np.where(epc_data['POSTCODE'].isin(imd_data['Postcode']), 'Y', 'N')

## 3.3. Count the number of rows in the EPC data where IMD_FLAG is "Y"

In [7]:
epc_data.head()

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,CONSTITUENCY_LABEL,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,IMD_FLAG
0,289976195132009052117121910268608,"30, Osborne Heights",Warley,NaN,CM14 5UZ,9800622668,C,C,74,79,...,Brentwood and Ongar,BRENTWOOD,England and Wales: 2003-2006,2009-05-21 17:12:19,rental (private),NaN,NaN,10013534919,Address Matched,N
1,1475674253512016083111212899760848,"32, Heronway",Hutton,NaN,CM13 2LG,8813396478,E,B,39,84,...,Brentwood and Ongar,BRENTWOOD,England and Wales: 1950-1966,2016-08-31 11:21:28,owner-occupied,NaN,NaN,100091224230,Address Matched,N
2,1109463909922014031822374511588854,"3, Newlands Close",Hutton,NaN,CM13 2SD,5163011278,B,B,84,87,...,Brentwood and Ongar,BRENTWOOD,England and Wales: 1967-1975,2014-03-18 22:37:45,owner-occupied,10.0,0.0,100090341495,Address Matched,N
3,454165679702010031508253273309328,"21, Roman Road",NaN,NaN,CM4 9AA,1774673768,E,D,54,58,...,Brentwood and Ongar,INGATESTONE,England and Wales: 1930-1949,2010-03-15 08:25:32,owner-occupied,NaN,NaN,100091447690,Address Matched,N
4,1606209789022018020522424586828478,"29, St. Nicholas Grove",Ingrave,NaN,CM13 3RA,7862816578,C,B,71,83,...,Brentwood and Ongar,BRENTWOOD,England and Wales: 1950-1966,2018-02-05 22:42:45,owner-occupied,NaN,NaN,100090346200,Address Matched,N

# 4. Save the EPC data to a CSV file in /London

In [8]:
# epc_data.to_csv('London/epc_data.csv', index=False)

# 5. Gather data from the EPC dataframe
## 5.0. Identify duplicates in the EPC data by "LMK_KEY" and keep the most recent entry

In [9]:
# Sort the EPC data by "LODGEMENT_DATE" in descending order
epc_data = epc_data.sort_values('LODGEMENT_DATE', ascending=False)

# Drop duplicates in "LMK_KEY" and keep the first entry
epc_data = epc_data.drop_duplicates(subset='LMK_KEY', keep='first')


## 5.1. Set a maxiumum age of the EPC "LODGEMENT_DATE" to x year

In [10]:
max_years = 1

# Drop rows where the "LODGEMENT_DATE" is older than x years
epc_data['LODGEMENT_DATE'] = pd.to_datetime(epc_data['LODGEMENT_DATE'])

epc_data = epc_data[epc_data['LODGEMENT_DATE'] > pd.Timestamp.now() - pd.DateOffset(years=max_years)]

epc_data.shape

(163728, 93)

## 5.2. Drop non-IMD postcods

In [11]:
epc_data = epc_data[epc_data['IMD_FLAG'] == 'Y']

## 5.2. Get 2 values, c_or_above and d_or_below, from the "CURRENT_ENERGY_RATING" column.

In [12]:
# c_or_above is the count of properties where the "CURRENT_ENERGY_RATING" is A, B or C
c_or_above = epc_data[epc_data['CURRENT_ENERGY_RATING'].isin(['A', 'B', 'C'])].shape[0]

# d_or_below is the count of properties where the "CURRENT_ENERGY_RATING" is D, E, F or G
d_or_below = epc_data[epc_data['CURRENT_ENERGY_RATING'].isin(['D', 'E', 'F', 'G'])].shape[0]

print(c_or_above, d_or_below)

# Print the total number of properties
total_properties = c_or_above + d_or_below
print("Total Properties", total_properties)

36479 19462
Total Properties 55941

# 6. Start filtering the data
## 6.1. "MAINS_GAS_FLAG" is "N"

In [13]:
epc_data = epc_data[epc_data['MAINS_GAS_FLAG'] == 'N']

epc_data.shape

(10296, 93)

## 6.2. "CURRENT_ENERGY_RATING" D, E, F or G

In [14]:
epc_data = epc_data[epc_data['CURRENT_ENERGY_RATING'].isin(['E', 'F', 'G'])]

epc_data.shape

(962, 93)

## 6.3. "TENURE" is "Owner-occupied"

In [15]:
# epc_data = epc_data[epc_data['TENURE'] == 'Owner-occupied']

epc_data.shape

(962, 93)

# 6.4. "PROPERTY_TYPE" is "House" or "Bungalow"

In [16]:
epc_data = epc_data[epc_data['PROPERTY_TYPE'].isin(['House', 'Bungalow'])]

## 6.5. Count the number of D, E, F or G ratings

In [17]:
d_ratings = epc_data[epc_data['CURRENT_ENERGY_RATING'] == 'D'].shape[0]
e_ratings = epc_data[epc_data['CURRENT_ENERGY_RATING'] == 'E'].shape[0]
f_ratings = epc_data[epc_data['CURRENT_ENERGY_RATING'] == 'F'].shape[0]
g_ratings = epc_data[epc_data['CURRENT_ENERGY_RATING'] == 'G'].shape[0]

print(d_ratings, e_ratings, f_ratings, g_ratings)

# Sum of D, E, F and G ratings
final_properties = d_ratings + e_ratings + f_ratings + g_ratings
print("Total Properties", total_properties)
print("Final Properties", final_properties)

# Calculate percentage reduction from total properties to final properties
percentage_reduction = ((total_properties - final_properties) / total_properties) * 100
print(percentage_reduction)

0 120 38 24
Total Properties 55941
Final Properties 182
99.67465722815109

# 7. Calculate EPC Potential Savings

In [18]:
# Each EPC has a "CURRENT_ENERGY_RATING" and a "POTENTIAL_ENERGY_RATING"
# These range from A to G and are ordered from most efficient to least efficient, assign a numerical value to each rating

ratings_map = {
    'A': 7,
    'B': 6,
    'C': 5,
    'D': 4,
    'E': 3,
    'F': 2,
    'G': 1
}

# Create a new column "CURRENT_ENERGY_RATING_VAL" and "POTENTIAL_ENERGY_RATING_VAL" based on the ratings_map
epc_data['CURRENT_ENERGY_RATING_VAL'] = epc_data['CURRENT_ENERGY_RATING'].map(ratings_map)
epc_data['POTENTIAL_ENERGY_RATING_VAL'] = epc_data['POTENTIAL_ENERGY_RATING'].map(ratings_map)

# Calculate a value called "IMPROVEMENT_INDICATOR" which is the difference between "CURRENT_ENERGY_RATING_VAL" and "POTENTIAL_ENERGY_RATING_VAL"
epc_data['IMPROVEMENT_INDICATOR'] = epc_data['POTENTIAL_ENERGY_RATING_VAL'] - epc_data['CURRENT_ENERGY_RATING_VAL']

# For each rating 2 or above, show the count of properties with each rating
for i in range(1, 8):
    print(i, epc_data[epc_data['IMPROVEMENT_INDICATOR'] == i].shape[0])
    
epc_data.head()

1 10
2 41
3 77
4 41
5 13
6 0
7 0

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,IMD_FLAG,CURRENT_ENERGY_RATING_VAL,POTENTIAL_ENERGY_RATING_VAL,IMPROVEMENT_INDICATOR
2624013,4a4a7a813af5741d1427102b8ccb9c9381ccdb712c90db...,11a Terrace Road,NaN,NaN,E13 0LP,10006248475,E,C,45,79,...,2024-07-30 16:49:59,Owner-occupied,15.0,NaN,46073666,Energy Assessor,Y,3,5,2
1010980,8953187926f7ac4983a853f448d34ce95979df126b4094...,39 Blandford Road,NaN,NaN,UB2 4JY,10006302254,E,C,40,74,...,2024-07-29 14:32:19,Rented (social),11.0,NaN,12037570,Energy Assessor,Y,3,5,2
1011233,bfef213a2fd31651736053c416cccd19ac6bd4366c6b9b...,16 Blandford Road,NaN,NaN,UB2 4JY,10006260112,E,C,46,78,...,2024-07-29 14:21:41,Rented (social),13.0,NaN,12037547,Energy Assessor,Y,3,5,2
2728773,2dd094215b61e1cc02ce8bf4b48a8d434b1326565b46c9...,25 Heron Mews,NaN,NaN,IG1 4NW,10006282186,E,B,51,89,...,2024-07-25 23:10:52,Rented (private),11.0,NaN,100023045965,Energy Assessor,Y,3,6,3
2624224,91391e6a4019f1998c23a4044ddc868c5cb95ea513c6ed...,16 Edwin Street,NaN,NaN,E16 1QA,10006260497,F,C,29,76,...,2024-07-23 13:06:22,Owner-occupied,12.0,NaN,46023554,Energy Assessor,Y,2,5,3

# 8. Prepare for Letter Generation
# 8.1. Keep Only Relevent Columns

In [19]:
# We only want to keep properties related to sending letters
required_fields = ["LMK_KEY", "UPRN", "ADDRESS1", "ADDRESS2", "ADDRESS3", "POSTCODE", "CURRENT_ENERGY_RATING", "POTENTIAL_ENERGY_RATING", "IMPROVEMENT_INDICATOR", 'IMD_FLAG', "LOCAL_AUTHORITY", "CONSTITUENCY", "LODGEMENT_DATE", "TRANSACTION_TYPE"]

# Drop all columns that are not in the required_fields list
epc_data = epc_data[required_fields]

# Print the shape of the EPC data
print(epc_data.shape)

# Head of the EPC data
epc_data.head()

# Keep only 1 item 
#epc_data = epc_data.head(1)

epc_data.head()

(182, 14)

,LMK_KEY,UPRN,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,IMPROVEMENT_INDICATOR,IMD_FLAG,LOCAL_AUTHORITY,CONSTITUENCY,LODGEMENT_DATE,TRANSACTION_TYPE
2624013,4a4a7a813af5741d1427102b8ccb9c9381ccdb712c90db...,46073666,11a Terrace Road,NaN,NaN,E13 0LP,E,C,2,Y,E09000025,E14001032,2024-07-30,marketed sale
1010980,8953187926f7ac4983a853f448d34ce95979df126b4094...,12037570,39 Blandford Road,NaN,NaN,UB2 4JY,E,C,2,Y,E09000009,E14000676,2024-07-29,ECO assessment
1011233,bfef213a2fd31651736053c416cccd19ac6bd4366c6b9b...,12037547,16 Blandford Road,NaN,NaN,UB2 4JY,E,C,2,Y,E09000009,E14000676,2024-07-29,ECO assessment
2728773,2dd094215b61e1cc02ce8bf4b48a8d434b1326565b46c9...,100023045965,25 Heron Mews,NaN,NaN,IG1 4NW,E,B,3,Y,E09000026,E14000760,2024-07-25,rental
2624224,91391e6a4019f1998c23a4044ddc868c5cb95ea513c6ed...,46023554,16 Edwin Street,NaN,NaN,E16 1QA,F,C,3,Y,E09000025,E14001032,2024-07-23,marketed sale

# 8.2. Generate a unique code for each property

In [20]:
def generate_code(lmk_key: str) -> str:
    # Convert the string to a seed based on its hash
    seed = hash(lmk_key)  # Use the built-in hash function to generate a seed
    
    charset = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'  # Set of characters
    code_length = 4  # Desired length of the code
    code = ''

    # Generate a 4-character code based on the seed
    for _ in range(code_length):
        char_index = seed % len(charset)  # Pick a character deterministically
        code += charset[char_index]
        seed //= len(charset)  # Update the seed for the next character

    return code

# For each property generate a unique code using the "UPRN" as the unique number
epc_data['CODE'] = epc_data['LMK_KEY'].apply(generate_code)

# Check there are no duplicates in the "CODE" column
assert epc_data['CODE'].nunique() == epc_data.shape[0]

epc_data.head(9999)

,LMK_KEY,UPRN,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,IMPROVEMENT_INDICATOR,IMD_FLAG,LOCAL_AUTHORITY,CONSTITUENCY,LODGEMENT_DATE,TRANSACTION_TYPE,CODE
2624013,4a4a7a813af5741d1427102b8ccb9c9381ccdb712c90db...,46073666,11a Terrace Road,NaN,NaN,E13 0LP,E,C,2,Y,E09000025,E14001032,2024-07-30,marketed sale,TXQ2
1010980,8953187926f7ac4983a853f448d34ce95979df126b4094...,12037570,39 Blandford Road,NaN,NaN,UB2 4JY,E,C,2,Y,E09000009,E14000676,2024-07-29,ECO assessment,WB32
1011233,bfef213a2fd31651736053c416cccd19ac6bd4366c6b9b...,12037547,16 Blandford Road,NaN,NaN,UB2 4JY,E,C,2,Y,E09000009,E14000676,2024-07-29,ECO assessment,45WH
2728773,2dd094215b61e1cc02ce8bf4b48a8d434b1326565b46c9...,100023045965,25 Heron Mews,NaN,NaN,IG1 4NW,E,B,3,Y,E09000026,E14000760,2024-07-25,rental,AVXV
2624224,91391e6a4019f1998c23a4044ddc868c5cb95ea513c6ed...,46023554,16 Edwin Street,NaN,NaN,E16 1QA,F,C,3,Y,E09000025,E14001032,2024-07-23,marketed sale,3Z08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1518871,25ee182ad17e15c7e352b62b30e2891ca7befcc061418e...,100021193515,3 Ingleton Road,NaN,NaN,N18 2RX,E,C,2,Y,E09000014,E14001002,2023-10-23,rental,SF6H
3295464,6b34ecf281ff50292a0631688c76e805359bce9be54d9c...,100022774413,16 London Mews,NaN,NaN,W2 1HY,G,B,5,Y,E09000033,E14000639,2023-10-22,rental,IQ30
1132635,bd335d5116c55cccfead644a6311e43dbf44eb0c4d8235...,207031775,36 Goldsdown Road,NaN,NaN,EN3 7QZ,F,B,4,Y,E09000010,E14000691,2023-10-20,rental,B7IH
1132656,b4037055b5014330700bb1f09c697ce3a56261f2bfa5cf...,207151194,80 Mahon Close,NaN,NaN,EN1 4DQ,E,B,3,Y,E09000010,E14000691,2023-10-20,rental,JXEY
2370800,96dfaf7a152186913d5058e5a0907eaddd0d93e426ef49...,100021981299,69 Longbridge Way,NaN,NaN,SE13 6PW,E,B,3,Y,E09000023,E14000789,2023-10-20,marketed sale,CACT

# 9. Upload to DynamoDB

In [21]:
# Dont run this cell

import boto3

ACCESS_KEY = "AKIAZQ3DOPEURBSYGCAW"
SECRET_KEY = "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"

dynamodb = boto3.client(
    'dynamodb',
    region_name='eu-west-2',
    aws_access_key_id=ACCESS_KEY,
    aws_secret_access_key=SECRET_KEY
)

# Drop any records nan uprn
epc_data = epc_data.dropna(subset=['UPRN'])

import requests

# Asynchronously fetch the address data from the API
def fetch_address_data(uprn):
    url = f"https://api.os.uk/search/places/v1/uprn?uprn={uprn}&key=BrhtbyQGXh1hPQOuN2kQcaMEeVPpsJ2b"
    
    res = requests.get(url)
    
    res.raise_for_status() # Raise error if the request was unsuccessful
    
    data = res.json()
    
    # If there is no 'results' key in the data, return None
    if 'results' not in data:
        return None
    
    item = data['results'][0]['DPA']
    
    # Split the "ADDRESS" field
    address = item['ADDRESS'].split(', ')
    
    # Drop the last 2 items in the address
    address = address[:-2]
    
    # Convert address array back to string
    address = ', '.join(address)
    
    # Return Item as a Dictionary
    return [address, item['POST_TOWN'], item['POSTCODE']]


# For each row in the EPC data, upload to DynamoDB
for index, row in epc_data.iterrows():
    
    # Fetch the address data from the API asynchronusly
    address_item = fetch_address_data(row['UPRN'])
    
    # Set the "ADDRESS1", "POST_TOWN" and "POSTCODE" fields based on the address_item
    epc_data.at[index, 'ADDRESS1'] = address_item[0] if address_item is not None else epc_data.at[index, 'ADDRESS1']
    epc_data.at[index, 'POST_TOWN'] = address_item[1] if address_item is not None else epc_data.at[index, 'POST_TOWN']
    epc_data.at[index, 'POSTCODE'] = address_item[2] if address_item is not None else epc_data.at[index, 'POSTCODE']
    
    # If the address item is None, skip the current row
    if address_item is None:
        continue
    
    # Upload the item to the DynamoDB table
    dynamodb.put_item(
        TableName='qrcode',
        Item={
            'LMK_KEY': {'S': row['LMK_KEY']},
            'CODE': {'S': row['CODE']},
            'UPRN': {'S': str(row['UPRN'])},
            'ADDRESS1': {'S': address_item[0]},
            'POST_TOWN': {'S': address_item[1]},
            'POSTCODE': {'S': address_item[2]},
            'CURRENT_ENERGY_RATING': {'S': row['CURRENT_ENERGY_RATING']},
            'POTENTIAL_ENERGY_RATING': {'S': row['POTENTIAL_ENERGY_RATING']},
            'IMPROVEMENT_INDICATOR': {'N': str(row['IMPROVEMENT_INDICATOR'])},
            'IMD_FLAG': {'S': row['IMD_FLAG']},
            'LOCAL_AUTHORITY': {'S': row['LOCAL_AUTHORITY']},
            'CONSTITUENCY': {'S': row['CONSTITUENCY']},
            'LODGEMENT_DATE': {'S': str(row['LODGEMENT_DATE'])},
            'TRANSACTION_TYPE': {'S': row['TRANSACTION_TYPE']},
            'IS_SUBMITTED': {'BOOL': False},
            'ITEM_STATUS': {'S': 'AWAITING POST'}
        }
    )
    
    print(f"Uploaded {row['CODE']}")
    
print("Upload Complete")
epc_data.to_csv('Mail/epc_data.csv', index=False)
print("Data saved to CSV")

Uploaded TXQ2
Uploaded WB32
Uploaded 45WH
Uploaded AVXV
Uploaded 3Z08
Uploaded KXGV
Uploaded JHKN
Uploaded AV04
Uploaded H4R7
Uploaded FHK0
Uploaded LXF3
Uploaded N77D
Uploaded XYX2
Uploaded G7WH
Uploaded Q82T
Uploaded HP18
Uploaded JCQ1
Uploaded VZLA
Uploaded D4D1
Uploaded ZYQH
Uploaded 7606
Uploaded 0T7X
Uploaded B543
Uploaded IX55
Uploaded QI5G
Uploaded IYT2
Uploaded 3578
Uploaded W8AA
Uploaded K3R2
Uploaded P9KL
Uploaded F1N7
Uploaded 21KF
Uploaded N9EA
Uploaded RJF8
Uploaded 4J9V
Uploaded QJKC
Uploaded IO69
Uploaded R9Q8
Uploaded YM0Z
Uploaded GJOU
Uploaded 2N4P
Uploaded Z4R5
Uploaded TI9R
Uploaded O9U7
Uploaded E58L
Uploaded MH5Y
Uploaded 2Y3A
Uploaded ODNT
Uploaded BMVI
Uploaded BYSX
Uploaded N8A0
Uploaded LAT2
Uploaded BY6H
Uploaded LNN0
Uploaded AO7K
Uploaded Z05A
Uploaded QFQK
Uploaded 0MZM
Uploaded 5C1F
Uploaded GAHM
Uploaded 9DEO
Uploaded F12O
Uploaded R7O1
Uploaded 1OAG
Uploaded ZJEP
Uploaded CN3A
Uploaded 2QMX
Uploaded 8JBS
Uploaded Q1AS
Uploaded J9IV
Uploaded GJJ0
Uploaded NTGC
Uploaded 2JYB
Uploaded PJKZ
Uploaded V58D
Uploaded HESZ
Uploaded IODR
Uploaded BMQR
Uploaded EUWH
Uploaded H4I7
Uploaded FDQ6
Uploaded ZCCW
Uploaded L8UR
Uploaded RJV5
Uploaded 6KQ9
Uploaded B160
Uploaded 0UA2
Uploaded ZL15
Uploaded XFNJ
Uploaded 6HFS
Uploaded 9T5L
Uploaded GTBL
Uploaded CXLK
Uploaded 68EJ
Uploaded QPLG
Uploaded UPTQ
Uploaded UTB5
Uploaded K5AC
Uploaded 7PLD
Uploaded K38X
Uploaded 13TK
Uploaded 1Q9J
Uploaded FY63
Uploaded 74HM
Uploaded VW8C
Uploaded JCHP
Uploaded T6G9
Uploaded 3MUH
Uploaded GQZE
Uploaded 50Q4
Uploaded NS8H
Uploaded SW8H
Uploaded E3QN
Uploaded ND9I
Uploaded M9N0
Uploaded Z6MO
Uploaded N42H
Uploaded OEQR
Uploaded 2SWT
Uploaded XM1W
Uploaded D9B5
Uploaded XV1P
Uploaded RSWX
Uploaded JGDC
Uploaded YTBY
Uploaded 280C
Uploaded 1TP8
Uploaded 153P
Uploaded 0WG8
Uploaded XF4O
Uploaded H2L5
Uploaded YQT8
Uploaded DEAQ
Uploaded O6KW
Uploaded FSKQ
Uploaded LE3V
Uploaded RC56
Uploaded YN10
Uploaded VW21
Uploaded TKWK
Uploaded 4XKF
Uploaded I6ZN
Uploaded 44HM
Uploaded 7KXN
Uploaded KETA
Uploaded ZOVJ
Uploaded HEIT
Uploaded 9IRE
Uploaded 7T1J
Uploaded RFGP
Uploaded I7R8
Uploaded 247S
Uploaded Q1WV
Uploaded GZPX
Uploaded H1X5
Uploaded WGIQ
Uploaded XIFX
Uploaded CRJ6
Uploaded UQL3
Uploaded L9H6
Uploaded 2TOH
Uploaded 7LGW
Uploaded D7GM
Uploaded L76A
Uploaded DKGG
Uploaded SF6H
Uploaded IQ30
Uploaded B7IH
Uploaded JXEY
Uploaded CACT
Upload Complete
Data saved to CSV

# 9999. Calculate recommendations
## 8.1. Load the recommendations data

In [22]:
# Recommendations are the same as the EPC data, but is stored as "recommendations.csv" instead of "certificates.csv"
recommendations_data = pd.DataFrame()

for folder in os.listdir('EPCs'):
    if not any(authority in folder for authority in authority_list):
        continue
    
    recommendations_data = pandas.concat([recommendations_data, pd.read_csv(f'EPCs/{folder}/recommendations.csv', low_memory=False)])
    
recommendations_data.head()

,LMK_KEY,IMPROVEMENT_ITEM,IMPROVEMENT_SUMMARY_TEXT,IMPROVEMENT_DESCR_TEXT,IMPROVEMENT_ID,IMPROVEMENT_ID_TEXT,INDICATIVE_COST
0,289976195132009052117121910268608,1,NaN,Replacement of traditional light bulbs with en...,NaN,NaN,NaN
1,289976195132009052117121910268608,2,NaN,A condensing boiler is capable of much higher ...,NaN,NaN,NaN
2,289976195132009052117121910268608,3,NaN,"A solar water heating panel, usually fixed to ...",NaN,NaN,NaN
3,289976195132009052117121910268608,4,NaN,A solar PV system is one which converts light ...,NaN,NaN,NaN
4,1475674253512016083111212899760848,1,Flat roof or sloping ceiling insulation,Flat roof or sloping ceiling insulation,45.0,NaN,"£850 - £1,500"

## 8.2. Keep only specific recommendations

In [23]:

# Print all unique values in the "IMPROVEMENT_SUMMARY_TEXT" column
#print(recommendations_data['IMPROVEMENT_SUMMARY_TEXT'].unique())

importantRecommendations = [
    "Internal or external wall insulation",
    "High heat retention storage heaters",
    "Room-in-roof insulation",
    "Solar photovoltaic panels, 2.5 kWp",
    "Solar photovoltaic panels, 2.5kWp",
    "Floor insulation (suspended floor)",
    "Increase loft insulation to 270\xa0mm",
    "Cavity wall insulation",    
]

# Drop rows where the "IMPROVEMENT_SUMMARY_TEXT" is not in the importantRecommendations list
recommendations_data = recommendations_data[recommendations_data['IMPROVEMENT_SUMMARY_TEXT'].isin(importantRecommendations)]

recommendations_data.shape

(3670893, 7)

## 8.3. Count the number of each recommendation

In [24]:
for recommendation in importantRecommendations:
    print(recommendation, recommendations_data[recommendations_data['IMPROVEMENT_SUMMARY_TEXT'] == recommendation].shape[0])
    
# How many unique LMK_KEYs are there?
print(recommendations_data['LMK_KEY'].nunique())

Internal or external wall insulation 1349846
High heat retention storage heaters 92398
Room-in-roof insulation 55332
Solar photovoltaic panels, 2.5 kWp 1017191
Solar photovoltaic panels, 2.5kWp 31
Floor insulation (suspended floor) 413993
Increase loft insulation to 270 mm 327196
Cavity wall insulation 414906
2078027